@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

/*Main body*/
body {
  margin: 0;
  background: #FFF;
  padding: 2em 3em;
}

h2 {
  font: italic bold 40px "Fira Mono";
}

/*AddEntry styling*/
input[type=text] {
  padding:10px 15px;
  width: 93%;
  border-radius: 4px;
  border: none;
  background: #eee;
  font: normal 15px "Fira Mono";
}

input:focus {
  outline: none;
}

input[type=submit] {
  display: none;
}

.todo-list {
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.item-name {
  word-wrap: normal;
}

ul {
 list-style: none;
 box-shadow: 0 0 20px #EEE;
 padding: 0;
 border-radius: 2px;
}

li {
  border-bottom: 2px solid transparent;
  padding: 10px 15px;
  background: #ddd;
  transition: background 0.5s;
}

li.struck:hover {
  background: #46676d;
}

li.unstruck:hover {
  background: #99bfaa;
}

li.struck {
  background: #5c868d;
}

li.unstruck {
  background: #c8d6ca;
}

#trash-button {
  float: right;
  cursor: pointer;
}

#trash-button:focus {
  outline: none;
}

.font {
  font-family:"Fira Mono";
}
